$primary: #017d37;
$secondary: #aec09a;
$third: #778d45;
$background: #f7f7f7;
$white: #ffffff;
$white87: #ffffffde;
$black: #000000;
$black87: #000000de;
$grey87: #3c3c3c;
$border: 4px solid rgba($secondary, 0.4);
$bigshadow: -10px 3px 30px;
